@model dynamic

@{
    ViewBag.Title = "EnrollDoctor";
    Layout = "~/Views/Shared/mainLayout.cshtml";
}



<style>
    .form-control{
        padding:0!important
    }
    .gradient-custom {
        background: #f093fb;
        background: -webkit-linear-gradient(to bottom right, #020031, rgb(236, 187, 152));
        background: linear-gradient(to bottom right, #020031, rgb(236, 187, 152));
    }

    .button11 {
        background-color: #f6783a;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="gradient-custom">
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                         alt="Sample photo" class="img-fluid"
                                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                </div>
                                <div class="col-xl-5">
                                    <div class="card-body p-md-7 text-black">
                                        <h3 class="mb-5 text-uppercase">Request Form</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-outline">




                                                    <select class="form-control" id="specializationsearch" name="specializationsearch">
                                                        <option value="">-- Select a specialization --</option>
                                                        @foreach (var specialization in Model.Specializations)
                                                        {
                                                            <option value="@specialization.specializationId">@specialization.namespecialization</option>
                                                        }



                                                    </select>




                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div style="display:flex;justify-content:space-between">

                                            <input type="text" placeholder="location : zarqa,Jordan  " class="form-control" style="text-align:center;width:47%;margin-top:20px" />
                                            <input type="text" placeholder="location_Link " class="form-control" style="text-align:center;width:47%;margin-top:20px" />


                                        </div>
                                   
                                        <div class="col-md-6 mb-3">

                                            <div class="form-outline">
                                                <input type="text" placeholder="location : zarqa,Jordan  " class="form-control" style="text-align:center;width:47%;margin-top:20px" />
                                                <h6> @*@Html.LabelFor(model => model.NationalNum, "National Number", htmlAttributes: new { @class = "control-label" })*@</h6>

                                                <div>
                                                    <input type="text" placeholder="location : zarqa,Jordan  " class="form-control" style="text-align:center;width:47%;margin-top:20px" />
                                                    @*@Html.EditorFor(model => model.NationalNum, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @*@Html.ValidationMessageFor(model => model.NationalNum, "", new { @class = "text-danger" })*@

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <h6>@*@Html.LabelFor(model => model.Grad, "High School Grade", htmlAttributes: (new { @class = "control-label" }))*@</h6>
                                                    <div>
                                                        @*@Html.EditorFor(model => model.Grad, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*@Html.ValidationMessageFor(model => model.Grad, "", new { @class = "text-danger" })*@

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <h6>
                                                        @*@Html.LabelFor(model => model.PhoneNumber, "Phone Number", htmlAttributes: new { @class = "control-label" })*@
                                                    </h6>
                                                    <div>
                                                        @*@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@

                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-6 mb-4">
                                                <div>
                                                    <h6>
                                                        @*@Html.LabelFor(model => model.Pic, "Personal Image", htmlAttributes: new { @class = "control-label" })*@
                                                    </h6>
                                                    <div class="col-md-10">

                                                        <input type="file" name="Pic1" class="form-control-file" accept="image/*" />
                                                        @*@Html.EditorFor(model => model.Pic, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*@Html.ValidationMessageFor(model => model.Pic, "", new { @class = "text-danger" })*@
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div>
                                                    <h6>
                                                        @*@Html.LabelFor(model => model.PersonalIdFile, "Identity Certificate@*", htmlAttributes: new { @class = "control-label" })*@
                                                    </h6>
                                                    <div class="col-md-10">
                                                        <input type="file" name="PersonalIdFile1" class="form-control-file" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                                        @*@Html.ValidationMessageFor(model => model.PersonalIdFile, "", new { @class = "text-danger" })*@
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <h6>
                                                        @*@Html.LabelFor(model => model.CertificateFile, "High School Certificate", htmlAttributes: new { @class = "control-label" })*@
                                                    </h6>
                                                    <div class="col-md-10">
                                                        <input type="file" name="CertificateFile1" class="form-control-file" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                                        @*@Html.ValidationMessageFor(model => model.CertificateFile, "", new { @class = "text-danger" })*@
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <h6>
                                                        @*@Html.LabelFor(model => model.BirthFile, "Birth Certificate", htmlAttributes: new { @class = "control-label" })*@
                                                    </h6>
                                                    <div class="col-md-10">
                                                        <input type="file" name="BirthFile1" class="form-control-file" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                                        @*@Html.ValidationMessageFor(model => model.BirthFile, "", new { @class = "text-danger" })*@
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                <div class="form-outline">
                                                    <h6>@*@Html.LabelFor(model => model.Gender, "Gender", htmlAttributes: new { @class = "control-label" })*@</h6>
                                                    <div>
                                                        <div class="checkbox">
                                                            @*@Html.EditorFor(model => model.Gender)*@

                                                            @*@Html.RadioButton("Gender", "false", false, new { id = "male" }) Male

                                                                @Html.RadioButton("Gender", "true", false, new { id = "female" }) Female

                                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end pt-3">
                                            <div class=" col-md-6">
                                                <input type="submit" value="Submit" class="btn button11 btn-lg col-md-6" />
                                            </div>
                                            @*<input type="submit" value="Submit" class="btn btn-light btn-lg col-md-6" />*@
                                            <div class=" col-md-6">
                                                <a href="/Home/Index" class="btn button11 btn-lg" style="color:black;">Home</a>
                                                @*@Html.ActionLink("Home", "Index", new {@class="btn btn-light btn-lg"})*@
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
   

}